@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
    var isAuthed = User?.Identity?.IsAuthenticated == true;
    var theme = Context.Items["Theme"]?.ToString() ?? "light";
}

<!DOCTYPE html>
<html lang="en" data-theme="@theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OneBite</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MealPlanner.styles.css" asp-append-version="true" />
</head>

<body>
<header>
    <nav class="custom-navbar">
        <ul class="nav-list">

            <li class="nav-item">
                <button
                    class="nav-button @(currentController == "Home" && currentAction == "Index" ? "active" : "")"
                    onclick="location.href='/'">
                    <span class="nav-text">Home</span>
                </button>
            </li>
<!--
            <li class="nav-item">
                <button
                    class="nav-button @(currentController == "Meal" && currentAction == "PlannerHome" ? "active" : "")"
                    onclick="location.href='@Url.Action("PlannerHome", "Meal")'">
                    <span class="nav-text">Planner</span>
                </button>
            </li>
-->
            <li class="nav-item">
                <button
                    class="nav-button @(currentController == "FoodEntries" && currentAction != "Nutrition" ? "active" : "")"
                    onclick="location.href='@Url.Action("Recipes", "FoodEntries")'">
                    <span class="nav-text">Recipes</span>
                </button>
            </li>

            <li class="nav-item">
                <button
                    class="nav-button @(currentController == "FoodEntries" && currentAction == "Nutrition" ? "active" : "")"
                    onclick="location.href='@Url.Action("Nutrition", "FoodEntries")'">
                    <span class="nav-text">Nutrients</span>
                </button>
            </li>
<!--

            <li class="nav-item">
                <button
                    class="nav-button @(currentController == "Statistics" && currentAction == "Index" ? "active" : "")"
                    onclick="location.href='/'">
                    <span class="nav-text">Statistics</span>
                </button>
            </li>
-->

            <li class="nav-item">
                <button
                    class="nav-button @(currentController == "Shopping" && currentAction == "Index" ? "active" : "")"
                    onclick="location.href='@Url.Action("Index", "Shopping")'">
                    <span class="nav-text">MyCart</span>
                </button>
            </li>
<!--
            @if (User?.IsInRole("Admin") == true)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Admin">Admin</a>
                </li>
            }
            else if (User?.IsInRole("User") == true)
            {
                <li class="nav-item">
                    <button
                        class="nav-button @(currentController == "Favorites" ? "active" : "")"
                        onclick="location.href='@Url.Action("Index", "Favorites")'">
                        <span class="nav-text">Favorites</span>
                    </button>
                </li>

                <li class="nav-item">
                    <button
                        class="nav-button @(currentController == "UserSettings" ? "active" : "")"
                        onclick="location.href='@Url.Action("Index", "UserSettings")'">
                        <span class="nav-text">User Settings</span>
                    </button>
                </li>
            }

            <partial name="_LoginPartial" />
            -->
        </ul>

        @if (isAuthed)
        {
            <button class="profile-button" type="button" onclick="location.href='@Url.Action("Index", "UserSettings")'">
                <img src="~/images/icons/profiledefault.webp" alt="profiledefault" class="imageFit" />
            </button>
        }
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" type="module" asp-append-version="true"></script>
<script src="~/js/inlineConfirm.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>