<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MealPlanner</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MealPlanner.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="custom-navbar">
            <ul class="nav-list">
                <!-- Home Page -->
                <li class="nav-item">
                    <button
                        class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"
                        onclick="location.href='/Home'">
                        <span class="nav-text">Home</span>
                    </button>
                </li>
                <!-- Meal Planner -->
                <li class="nav-item">
                    <button
                        class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "MealPlanner" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"
                        onclick="location.href='/'">
                        <span class="nav-text">Planner</span>
                    </button>
                </li>
                <!-- Food Entries -->
                <li class="nav-item">
                    <button
                        class="nav-button @(ViewContext.RouteData.Values["Controller"]?.ToString() == "FoodEntries" ? "active" : "")"
                        onclick="location.href='/FoodEntries/SelectType'">
                        <span class="nav-text">Food Entries</span>
                    </button>
                </li>

                <!-- Stats -->
                <li class="nav-item">
                    <button
                        class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Statistics" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"
                        onclick="location.href='/'">
                        <span class="nav-text">Statistics</span>
                    </button>
                </li>
                <!-- Cart -->
                <li class="nav-item">
                    <button
                        class="nav-button @(ViewContext.RouteData.Values["Controller"].ToString() == "Cart" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"
                        onclick="location.href='/'">
                        <span class="nav-text">MyCart</span>
                    </button>
                </li>
            </ul>
            <!-- profile button -->
            <button class="profile-button">
                <img src="~/images/icons/profiledefault.webp" alt="profiledefault" class="imageFit">
                </button>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" type="module" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>