@model MealPlanner.ViewModels.PlannerHomeViewModel

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<p id="modelsDate" hidden>@Model.SelectedDate</p>


<div class="back1Dates">
    <button class="Arrow" id="ALeft">
        <img src="~/images/icons/arrow.png" alt="arrow" draggable="false">
    </button>

    <div id="back1DatesInnerContainer">

    </div>

    <button class="Arrow" id="ARight">
        <img src="~/images/icons/arrow.png" alt="arrow" draggable="false">
    </button>
</div>

<div class="back1 backHasButton">
    <h1 class="back1Title">Meals On @Model.SelectedDate.ToString("MMM")/@Model.SelectedDate.Day/@Model.SelectedDate.ToString("yy")</h1>

    <div class="row align-items-center">
        <div class="col d-flex justify-content-center">
        @if (@Model.Meals.Count == 0)
        {
            <div class="back2">
                <h2 class="back1Title">You are yet to add a meal to this day.</h2>
            </div>
        }
        @* @foreach (Meal meal in @Model.Meals)
        {
            <form asp-controller="Meal" asp-action="ViewMeal" method="get">
                <button class="imageButton">
                    <input type="checkbox" class="MealCheckBox">
                    <img src="~/images/placeholder/apples.avif" alt="apples" class="fullImage">
                    <div class="buttonGreen noBevelTop">
                        <h2 class="buttonText">{Meals Name}</h2>
                    </div>
                </button>
            </form>
        }
        </div> *@


@foreach (Meal meal in Model.Meals)
{
    <div class="mealContainer" style="position: relative; display: inline-block; margin: 10px;">
        <!-- Checkbox for marking meal as done -->
        <input type="checkbox" class="MealCheckBox" style="position: absolute; top: 5px; left: 5px; z-index: 10;" />

        <!-- Button to view the meal -->
        <form asp-controller="Meal" asp-action="ViewMeal" method="get">
            <input type="hidden" name="id" value="@meal.Id" />
            <button type="submit" class="imageButton" style="position: relative;">
                <img src="~/images/placeholder/apples.avif" alt="@meal.Id" class="fullImage">
                <div class="buttonGreen noBevelTop">
                    <h2 class="buttonText">Meal @meal.Id</h2>
                </div>
            </button>
        </form>
    </div>
}



        <!-- Holds a display of the statistics so far today. Will populate this with info when the nutrient info is done -->
        <div class="back2">
            <h2 class="back1Title">Statistics</h2>
            <img src="~/images/placeholder/nutrients.png" alt="nutrients" class="imageFit">
        </div>
    </div>

    <form asp-controller="Meal" asp-action="NewMeal" method="get">
        <button class="buttonBlue">
            <h2 class="buttonText">Add A Meal</h2>
        </button>
    </form>
</div>

@section Scripts {
    <script src="~/js/indexPlanner.js"></script>
}