@model MealPlanner.Services.NutritionProgressDto

@{
    ViewData["Title"] = "Nutrition";
}

<div class="back1">
    <h1 class="back1Title">Nutrition</h1>

    <div>
        <h2 class="back1Title"><strong>Range:</strong> @Model.StartDay to @Model.EndDay</h2>

        <div class="row align-items-center">
            <div class="col">
                <div class="back2">
                    <h3 class="back1Title">Targets</h3>
                    <ul>
                        <li><strong>Calories:</strong> @Model.Targets.Calories</li>
                        <li><strong>Protein:</strong> @Model.Targets.Protein</li>
                        <li><strong>Carbs:</strong> @Model.Targets.Carbs</li>
                        <li><strong>Fat:</strong> @Model.Targets.Fat</li>
                    </ul>      
                </div>      
            </div>
            <div class="col">
                <div class="back2">
                    <h3 class="back1Title">Totals</h3>
                    <ul>
                        <li><strong>Calories:</strong> @Model.Totals.Calories</li>
                        <li><strong>Protein:</strong> @Model.Totals.Protein</li>
                        <li><strong>Carbs:</strong> @Model.Totals.Carbs</li>
                        <li><strong>Fat:</strong> @Model.Totals.Fat</li>
                    </ul>    
                </div>        
            </div>
            <div class="col">
                <div class="back2">
                    <h3 class="back1Title">Progress</h3>
                    <ul>
                        <li><strong>Calories Remaining:</strong> @(Model.Targets.Calories - Model.Totals.Calories)</li>
                        <li><strong>Protein Remaining:</strong> @(Model.Targets.Protein - Model.Totals.Protein)</li>
                        <li><strong>Carbs Remaining:</strong> @(Model.Targets.Carbs - Model.Totals.Carbs)</li>
                        <li><strong>Fat Remaining:</strong> @(Model.Targets.Fat - Model.Totals.Fat)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>